<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zir.teq.wearable.watchface">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:name="zir.teq.wearable.watchface.Zir"
        android:allowBackup="false"
        android:icon="@drawable/icon_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />
        <service
            android:name="zir.teq.wearable.watchface.watchface.ZirWatchFaceService"
            android:enabled="true"
            android:label="@string/zir_watch"
            android:permission="android.permission.BIND_WALLPAPER">
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview_zir" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_zir" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="zir.teq.wearable.watchface.CONFIG_ZIR_WATCH" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <activity
            android:name="zir.teq.wearable.watchface.config.select.main.activity.MainConfigActivity"
            android:label="@string/zir_watch_config">
            <intent-filter>
                <action android:name="zir.teq.wearable.watchface.CONFIG_ZIR_WATCH" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="zir.teq.wearable.watchface.config.select.component.activity.ComponentActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.color.activity.PaletteActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.color.activity.BackgroundActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.wave.activity.WavePropsActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.wave.activity.WaveSpectrumActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.wave.activity.WaveVelocityActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.wave.activity.WaveFrequencyActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.wave.activity.WaveIntensityActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.wave.activity.WaveResolutionActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.wave.activity.WaveAmbientResolutionActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.style.activity.StyleActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.style.activity.AlphaActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.style.activity.DimActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.style.activity.StackActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.style.activity.StrokeActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.style.activity.GrowthActivity" />
        <activity android:name="zir.teq.wearable.watchface.config.select.style.activity.OutlineActivity" />
    </application>
</manifest>
